<!DOCTYPE html>
<head>
   <script src="//code.angularjs.org/snapshot/angular.min.js"></script>
  <script src="//code.angularjs.org/snapshot/angular-animate.js"></script>
  <script src="controller.js"></script>
  <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"-->
  <link rel="stylesheet" href="./main.css">
</head>

<html>
   <body ng-app="ngRepeat">
  <div ng-controller="repeatController">
     
  <button ng-click="removeFirst()">Remove First</button>
  <button ng-click="updateAge()">Update Age</button>
  <button ng-click="copy()">Copy</button>
  <br><button ng-click="reset()">Reset List</button>
  <br>
  <code>track by $id(friend)</code> (default):
  <ul class="example-animate-container">
    <li class="animate-repeat" ng-repeat="friend in friends">
      {{friend.name}} is {{friend.age}} years old.
    </li>
  </ul>
  <code>track by $id(friend)</code> (default), with age one-time binding:
  <ul class="example-animate-container">
    <li class="animate-repeat" ng-repeat="friend in friends">
      {{friend.name}} is {{::friend.age}} years old.
    </li>
  </ul>
  <code>track by friend.name</code>, with age one-time binding:
  <ul class="example-animate-container">
    <li class="animate-repeat" ng-repeat="friend in friends track by friend.name">
      {{friend.name}}  is {{::friend.age}} years old.
    </li>
  </ul>
  <code>track by $index</code>, with age one-time binding:
  <ul class="example-animate-container">
    <li class="animate-repeat" ng-repeat="friend in friends track by $index">
      {{friend.name}} is {{::friend.age}} years old.
    </li>
  </ul>
  <!--script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script-->
  <img class = "banner" src = "./images/TreesForUs-banner.png" alt = "banner">

    <div class="form-group">
      <label for="exampleInputCount">Enter your county: </label>
      <input type="county" class="form-control" id="exampleInputCount" name="county" aria-describedby="emailHelp" placeholder="San Diego">
      <br/><br/>
      <button id = "submitButton" class="ui green basic button" ng-click="getTrees()">Submit</button>
    </div>
    
           </div>

     
   </body>
  
</html>
